body {
  margin: 0;
  padding:0;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Tajawal', sans-serif;
}
ul{
  list-style: none;
}
ul li{
  list-style:none;
}
a{
  text-decoration:none;
}
